:root {
    --orange: tomato;
    --black: rgb(63, 63, 63);
    --blackC: rgba(94, 94, 94, 0.911);
}


/* posts createForm */

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.paper {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: var(--blackC);
    padding: 2rem 3rem;
    /* border: 3px var(--orange) solid; */
}

.paper-tall-thin-3 {
    position: relative;
    width: 60%;
    /* height: 50%; */
    background-color: var(--blackC);
    padding: 2rem 3rem;
    color: white;
}

.paper-tall-thin-3.flex-c-paper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.paper-tall-thin-3 .paper-title {
    font-size: 28px;
    font-weight: bold;
    /* border: 3px var(--orange) solid; */
    /* padding: 1rem; */
    margin-bottom: 2rem;
}

.paper-tall-thin-3 .paper-body {}

.paper .paper-title {
    display: flex;
    position: absolute;
    padding: 10px 20px;
    font-size: 20px;
    top: -30px;
    left: 0;
    font-weight: bold;
    color: white;
    /* width: 150px; */
    height: 30px;
    background-color: var(--blackC);
    justify-content: center;
}


/* paper card */

.card-container .card-div {
    display: flex;
    width: 100%;
}

.card-div .card {
    display: flex;
    flex-direction: column;
    width: 33.333333333%;
    margin: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.144);
    border: 0px;
    color: white;
}


/* card-btn */

.card-container .card-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .cardTitle {
    display: flex;
    padding: 1rem;
    border-bottom: 3px solid var(--orange);
    background-color: rgba(255, 255, 255, 0.322);
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.card .cardBody .cardBody-content {
    display: flex;
    align-items: center;
}

.card .cardBody .cardBody-content:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.cardBody .cardBtn .btns {
    padding: 1rem;
    border: 0px;
    font-weight: bold;
    width: 100%;
}

.cardBody .cardBtn .btn-agree {
    background-color: #d4edda;
    color: #155724;
}

.cardBody .cardBtn .btn-disagree {
    background-color: #f8d7da;
    color: #721c24;
}

.cardBody-content .title {
    margin: 0.5rem;
    font-weight: bold;
    padding: 1rem;
    font-size: 18px;
    /* background-color: rgba(255, 255, 255, 0.246); */
}

.card-btns nav ul li {
    margin: 0rem 0.5rem;
}
